{
  "presets": [
    "es2015"
  ],
  "plugins": [
		[ "module-resolver", {
			"alias": {
        "className": "./src/_DOM/className",
        "bar":"./src/Module_Bar/bar",
        "line":"./src/Module_Line/line",
        "pie":"./src/Module_Pie/pie",
        "point":"./src/Module_Point/point",
        "boxplot":"./src/Module_BoxPlot/boxPlot",
        "canvasBase":"./src/_Canvas/canvasBase",
        "swapTabularVis":"./src/_DOM/swapTabularVis",
    		"rowData": "./src/_Data/rowData",
    		"indexData": "./src/_Data/indexData",
        "drawLineBase":"./src/_Canvas/drawLineBase",
    		"drawMarkBase":"./src/_Canvas/drawMarkBase"
      }
		}]
  ]
}
