/*tbody*/
.tab_vis_tbody{
  cursor: pointer;
}

/* row & column button components set */
.tab_vis_btn_container{
  cursor: pointer;
  position: fixed;
  width:60px;
  height: 40px;
  display: none;
  box-shadow: 2px 2px 2px grey;
}
.tab_vis_btn{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
}
/* the triangle arrow */
.tab_vis_btn:before,.tab_vis_btn:after{
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  top:4px;
  left:-12px;
  border: 6px solid transparent;
  border-right-color:#fff;
}
.tab_vis_btn:before{
  left:-13px;
  border-right-color: #c1c1c1;
}
.tab_vis_btn div{
  text-align: center;
  height: 20px;
  color:#777;
  border-bottom:1px solid #d3d3d3;
}
.tab_vis_btn div:hover{
  text-align: center;
  height: 20px;
  background: #d3d3d3;
}
